[webdb]
user = mccool
password = xnOdfsrsQRokFCw5Gh6I
host = dylan.spa.umn.edu
port = 33063

[supportdb]
user = mccool
password = xnOdfsrsQRokFCw5Gh6I
host = dylan.spa.umn.edu
port = 33063


[webdb_reader]
user = webdb_reader
password = x4a6RjZcwd1QnZPKxDau
host = dylan.spa.umn.edu
port = 33063


