[webdb]
user = mccool
password = VokGilalIg
host = mysql.spa.umn.edu

[supportdb]
user = mccool
password = VokGilalIg
host = support.physics.umn.edu

[webdb_reader]
user = webdb_reader
password = Isgobubbeo
host = mysql.spa.umn.edu

[webdb_test]
user = mccool
password = VokGilalIg
host = db-test.spa.umn.edu
port = 33063
