
<%DOC>
   Component: newvideos.html
        Date: 2007.08.10
      Author: clayton
     Changed: 2007.08.10 by clayton

Description ... 
</%DOC>

<%ARGS>
</%ARGS>

<%INIT>
</%INIT>		
		
PF-1:<br/>
<% $m->comp('/mason/flash_video.comp',url=>'/media/outreach/pforce/circus/videos/pf-01.flv',vidname=>'Physics Force: New Videos') %><br/><br/>

PF-2:<br/>
<% $m->comp('/mason/flash_video.comp',url=>'/media/outreach/pforce/circus/videos/pf-02.flv',vidname=>'Physics Force: New Videos') %><br/><br/>

PF-3:<br/>
<% $m->comp('/mason/flash_video.comp',url=>'/media/outreach/pforce/circus/videos/pf-03.flv',vidname=>'Physics Force: New Videos') %><br/><br/>

PF-4:<br/>
<% $m->comp('/mason/flash_video.comp',url=>'/media/outreach/pforce/circus/videos/pf-04.flv',vidname=>'Physics Force: New Videos') %><br/><br/>

PF-5:<br/>
<% $m->comp('/mason/flash_video.comp',url=>'/media/outreach/pforce/circus/videos/pf-05.flv',vidname=>'Physics Force: New Videos') %><br/><br/>

PF-6:<br/>
<% $m->comp('/mason/flash_video.comp',url=>'/media/outreach/pforce/circus/videos/pf-06.flv',vidname=>'Physics Force: New Videos') %><br/><br/>

PF-7:<br/>
<% $m->comp('/mason/flash_video.comp',url=>'/media/outreach/pforce/circus/videos/pf-07.flv',vidname=>'Physics Force: New Videos') %><br/><br/>

PF-8:<br/>
<% $m->comp('/mason/flash_video.comp',url=>'/media/outreach/pforce/circus/videos/pf-08.flv',vidname=>'Physics Force: New Videos') %><br/><br/>

PF-9:<br/>
<% $m->comp('/mason/flash_video.comp',url=>'/media/outreach/pforce/circus/videos/pf-09.flv',vidname=>'Physics Force: New Videos') %><br/><br/>
